---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<h1>Hey , soy <span>Jair Cornejo</span></h1>
			<div>
				<p>Disponible para trabajar</p>
			</div>
			<p>Desarrollador web . De Buenos Aires, Argentina . Especializado en crear apliaciones unicas y elegantes</p>
			<nav>
				<Button text="Ver Proyectos" link=""></Button>
				<a href=""></a>
			</nav>
		</div>
	</main>
</Layout>