---
---

<section class="flex flex-col justify-center items-start w-[65%] my-0 mx-auto scrollLink" id="about">

    <h1 class="font-bold text-4xl pb-4"><i class="bi bi-person-check-fill pr-2"></i></i> Sobre Mi</h1>

    <div class="flex gap-5">
        <div class="flex flex-col gap-4 text-xl">
            <p>Me llamo Jair Cornejo . Empece a programar a los 17 años <span class="text-[var(--colorPrincipal)]">solamente por diversion y hoy es lo que mas que gusta hacer</span>.</p>
            
            <p>Me gradué en la carrera de Programación en la Universidad Tecnológica Nacional, donde no solo <span class="text-[var(--colorPrincipal)]">adquirí habilidades técnicas, sino también la mentalidad de un programador.</span> Constantemente busco aprender algo nuevo cada día, mejorando mis habilidades y ampliando mis conocimientos.</p>
        
            <p>Durante mi tiempo en la universidad, <span class="text-[var(--colorPrincipal)]">trabajé en proyectos destacados que me permitieron aplicar mis conocimientos en situaciones reales.</span> Mi enfoque principal se centra en el Desarrollo Web</p>
            
            <p>Mi objetivo es seguir creciendo como profesional de la programación, <span class="text-[var(--colorPrincipal)]">enfrentando desafíos emocionantes y contribuyendo al mundo de la tecnología de manera significativa</span></p>
        </div>
        
        <img src="../../public/svgAbout.png" alt="" class="w-[40%]">
    </div>

</section>