---
const { text,link,tipo } = Astro.props;
let sizeLetra;
let id;
if(tipo=="header"){
    sizeLetra="text-xl"
    id="buttomHeader"
}
else{
    sizeLetra="text-sm"
    id="buttomHero"
}
---

<a href={link} class=`text-white bg-[var(--colorPrincipal)] px-6 py-2 rounded-lg transition-all duration-500 hover:bg-[var(--hoverColorPrincipal)] cursor-pointer ${sizeLetra} xl:text-lg md:text-xl` id={id}>{text}</a>

