---
import Button from "./Button.astro"

const Links = [
    {
        name:"Inicio",
        link:"#hero",

    },
    {
        name:"Acerca de mi",
        link:"",
    },
    {
        name:"Proyecto",
        link:"",
    },
    {
        name:"Contáctame",
        link:""
    }
]
---

<header class="flex justify-around items-center py-6 text-lg fixed top-0 left-0 w-screen">
    <div>
        <h1>JC</h1>
    </div>
    <nav class="flex gap-10">
        {Links.slice(0, -1).map(link=><a href={link.link} class="transition-all hover:text-slate-300">{link.name}</a>)}
    </nav>
    <div>
        <Button text={Links[Links.length - 1].name} link={Links[Links.length - 1].link}></Button>
    </div>
</header>