---
import Button from "./Button.astro"
---

<section class="flex flex-col justify-center items-center h-screen text-center" id="hero">
    <div>
        <h1 class="text-7xl  font-bold pb-8">Hey , soy <span class="text-[var(--colorPrincipal)]">Jair Cornejo</span></h1>

        <p class="bg-gradient-to-r from-[#6a70f3] to-[#232540] w-52 py-1 my-0 mx-auto rounded-lg text-base  transition-all hover:font-bold hover:w-56">Disponible para trabajar</p>

        <p class="text-xl pt-4 pb-10">Desarrollador web . De Buenos Aires, <br> Argentina . Especializado en crear apliaciones <br> unicas y elegantes</p>

        <nav class="flex gap-4 justify-center items-center my-0">

            <Button text="Ver Proyectos" link="#proyectos"></Button>

            <a href="/public/Jair_Cornejo_CV.pdf" download="Jair Cornejo CV" target="_blank" class="flex gap-2 rounded-lg border px-4 py-2 text-lg transition-all hover:text-slate-300"><i class="bi bi-download"></i>Descargar CV</a>

        </nav>
    </div>
</section>