---
    const {url,name} = Astro.props
---

<div class="w-[10%] text-center py-4 px-4 rounded-md div min-w-32">
    <img src={url} alt="" class="xl:w-full md:w-[90%]">
    <p class="pt-3 font-bold opacity-0 transition-all duration-300 xl:text-lg md:text-xl">{name}</p>
</div>

<style>
    .div:hover p {
        opacity: 1;
    }
</style>