---
const {className,url,name} = Astro.props
---

<div class=`flex justify-center items-center gap-1 ${className} rounded-lg py-1 md:px-1`>
    <img src={url} alt="" class="w-[15%] xl:w-[12%] md:w-[20%]">
    <p class="text-white font-semibold text-sm xl:text-sm md:text-base">{name}</p>
</div>

