---
const {className,url,name} = Astro.props
---

<div class=`flex justify-center items-center gap-1 ${className} rounded-lg`>
    <img src={url} alt="" class="w-[12%]">
    <p class="font-semibold">{name}</p>
</div>

