---


const proyects = [
    {
        title:"Mi Portafolio",
        description:"Descripcion",
        technologies:[]
    }
]
---

<section class="mt-56 my-0 mx-auto w-[65%] scrollLink" id="proyectos">
    <h1 class="font-bold text-4xl pb-10"><i class="bi bi-briefcase-fill"></i> Proyectos</h1>
    <div class="overflow-x-auto">
        <div class="flex justify-start items-center">
            
        </div>
    </div>
</section>