---
import ItemTechnologies from "./ItemTechnologies.astro"

const technologies = [
    {
        url:"/iconosTecnologias/Html.webp",
        name:"HTML"
    },
    {
        url:"/iconosTecnologias/CSS.webp",
        name:"CSS"
    },
    {
        url:"/iconosTecnologias/JavaScript.webp",
        name:"Javascript"
    },
    {
        url:"/iconosTecnologias/React.webp",
        name:"React"
    },
    {
        url:"/iconosTecnologias/astro.webp",
        name:"Astro"
    },
    {
        url:"/iconosTecnologias/Tailwind.webp",
        name:"Tailwind CSS"
    },
    {
        url:"/iconosTecnologias/Bootstrap.webp",
        name:"Bootstrap"
    },
    {
        url:"/iconosTecnologias/MySQL.webp",
        name:"MySql"
    },
    {
        url:"/iconosTecnologias/Java.webp",
        name:"Java"
    },
    {
        url:"/iconosTecnologias/csharp.webp",
        name:"C#"
    },
    {
        url:"/iconosTecnologias/net.webp",
        name:".Net"
    },
    {
        url:"/iconosTecnologias/cmas.webp",
        name:"C++"
    }
]
---

<section class="mt-56 my-0 mx-auto w-[65%]">
    <h1 class="font-bold text-4xl pb-10"><i class="bi bi-mouse2-fill"></i> Tecnologias</h1>
    <div class="overflow-x-auto scrollItem">
        <div class="flex justify-start items-center">
            {technologies.map(tech => <ItemTechnologies url={tech.url} name={tech.name}/>)}
        </div>
    </div>
</section>




<style>
    
    .scrollItem::-webkit-scrollbar {
        width: 10px;
        height: 13px;
    }
    .scrollItem::-webkit-scrollbar-thumb {
        background-color: var(--colorPrincipal);
        border-radius: 5px;
    }
        
    .scrollItem::-webkit-scrollbar-track {
        background-color: black;
        border-radius: 5px;
    }

</style>