---
import '@fontsource-variable/dm-sans';
const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-[400vh] w-[99vw] bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Header></Header>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		--colorPrincipal:#6068ff;
		--hoverColorPrincipal:#373db1;
	}
	html {
		font-family: 'DM Sans Variable', sans-serif;
		background: #13151a;
		padding: 0;
		margin: 0;
		scroll-behavior: smooth;
	}
	.scrollLink{
    	scroll-margin-top:27.3ex;
	}
</style>
